<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>inscripcionramos.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/privado/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>inscripcionramos.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAsignaturas</servlet-name>
        <servlet-class>inscripcionramos.controller.ListarAsignaturas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoSecciones</servlet-name>
        <servlet-class>inscripcionramos.controller.ListadoSecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscripcionAsignatura</servlet-name>
        <servlet-class>inscripcionramos.controller.InscripcionAsignatura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAsignaturas</servlet-name>
        <url-pattern>/privado/ListarAsignaturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoSecciones</servlet-name>
        <url-pattern>/privado/ListadoSecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscripcionAsignatura</servlet-name>
        <url-pattern>/privado/InscripcionAsignatura</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>privado/ListarAsignaturas</welcome-file>
    </welcome-file-list>
</web-app>
