<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="FactoryPCEntities" connectionString="metadata=res://*/FactoryPCEDM.csdl|res://*/FactoryPCEDM.ssdl|res://*/FactoryPCEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=FactoryPC;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>