<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>BancoAmigo.filter.filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>BancoAmigo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>BancoAmigo.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicServlet</servlet-name>
        <servlet-class>BancoAmigo.servlet.PublicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivateServlet</servlet-name>
        <servlet-class>BancoAmigo.servlet.PrivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>BancoAmigo.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicServlet</servlet-name>
        <url-pattern>/public/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateServlet</servlet-name>
        <url-pattern>/private/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>public/</welcome-file>
    </welcome-file-list>
</web-app>
