<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:38360/Servicio.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicio" contract="TecnoBencinaSrv.IServicio"
                name="BasicHttpBinding_IServicio" />
        </client>
    </system.serviceModel>

</configuration>