<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TecnoBencinaEntities" connectionString="metadata=res://*/TecnoBencinaEDM.csdl|res://*/TecnoBencinaEDM.ssdl|res://*/TecnoBencinaEDM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=toor;USER ID=TECNOBENCINA&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>